.headerdiv {
    padding-left: 30px;
    border: 8px outset black;
    background-color:  yellow;    
    text-align: left;
}
.menudiv {
    border: 15px outset rebeccapurple;
    background-color: white;
    font-size:25px;
    display:flex;
    justify-content: space-between;
}
.origamidiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.origamiimgdiv {
    border: 4px outset black;
    
}
.origamititle {
    padding-left: 50px;
}
.origamidesc{
    padding-left: 90px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}